// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
}

.post-title {
  font-weight: bold;
  margin: 0.2rem;
}

.post-img-container {
  width: calc(min(100%, 20rem));
}

.post-img-container img {
  max-width: 100%;
}